.weather-data2{

    display: grid;
    justify-content: space-between;
    background-color: rgba(255, 243, 224, 0.4);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
 

}


